html{
   scroll-behavior:  smooth;

}
body{
	background-color: #d3d3d3;
	width:calc(100vw - 10px);
}
/*MENU*/
.menu{
	height:50px;
	background-color:#282A36FF;
	opacity: 0.8;
	position:fixed;
	width:calc(100vw - 10px);

}
.todos{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content:space-around;
	height:50px;

}
li{
	display: inline;
	color:#FFEFEFF;
	font-family:'roboto', sans-serif;
	
}
a{
	color:#FFEFEF;
	font-family:'roboto', sans-serif;
	text-decoration-style: none;
	font-size: 20px;
}
a:hover{
	text-decoration:none;
}

/*HOME*/
.init{
	width:calc(100vw - 10px);
	height: 100vh;
	background: url("../img/back.jpg");
	background-repeat: no-repeat;
	background-size: calc(100vw - 10px), 100vh;
}

.init h2{

	padding-top: 200px;
	padding-left: 12px;
	font-size: 45px;
	font-weight: 700;

	color: black;
	
}
.init h3{
	margin-top: 30px;
	margin-left: 12px;
	font-size: 35px;
	color: white;
	background-color: red;
	border-radius: 15px;
	width: max-content;
	display:flex;

	flex-direction: column;
	align-items: center;
	padding: 5px;
	align-items: center;

}

.container{
	
	align-content: center;
	background-color: #d3d3d3;
	align-items: center;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	max-width: 100%;
}





/*SOBRE*/
.sobre{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;

	width:calc(100vw - 10px);
	height: 100vh;
	background: url(../img/sobre.jpg);
	background-repeat: no-repeat;
	background-size: calc(100vw - 10px), 100vh;
	
}
h1{
	text-align: center;
}

.sobre h1{
	margin-top: 50px;
	font-size: 35px;
	color: white;
}
.texto{
	width: 50%;
	text-align: justify-all;
	align-content: center;
	font-size: 17px;
	color: white;
	padding-bottom: 100px;
	border-radius: 20px;
	
}
.texto a{
	font-size: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
}





/*PORTFÓLIO*/
.port{
	width:calc(100vw - 10px);
	height:100vh;
	background: url(../img/port.jpg);
	background-repeat: no-repeat;
	background-size: calc(100vw - 10px), 100vh;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.port h1{
	margin-top: 40px;
	font-size: 35px;
	color: white;
}
.texto2{
	width: 50%;
	text-align: justify-all;
	align-content: center;
	font-size: 17px;
	color: white;
	padding-bottom: 100px;
	border-radius: 20px;
	
}
.texto a{
	font-size: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
}







/*CONTATO*/
.cont{
	width:calc(100vw - 10px);
	height:100vh;
	background: url(../img/cont.jpg);
	background-repeat: no-repeat;
	background-size: calc(100vw - 10px), 100vh;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cont h1{
	margin-top: 20px;
	font-size: 35px;
	color: white;
}
.texto3{
	width: 50%;
	text-align: justify-all;
	align-content: center;
	font-size: 17px;
	color: white;
	padding-bottom: 100px;
	border-radius: 20px;
	
}


.texto3 a{
	font-size: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	
}

.ctt{
	width: 50px;
	height: 50px;
}






::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    
}
/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}
